<!DOCTYPE html>
<html lang="en">
  <body>
    <form id="div-form" method="post" action="login">
      <legend>Entrance</legend>

      <p>
        <input type="text"
               name="username"
               class="login-input"
               placeholder="Nickname" />
      </p>
      <p>
        <input type="password"
               name="password"
               class="login-input"
               placeholder="Password" />
      </p>
      <p>
        <input type="submit"
               class="pure-button login-input pure-button-primary"
               value="Log in" />
      </p>
    </form>
  </body>
</html>
