<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Новый пост @ alwx.me</title>
    <link href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css"
          rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
          rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
          rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:300,400&subset=latin,cyrillic"
          rel="stylesheet"/>
    <link href="/static/style.css" rel="stylesheet"/>
    <link href="/static/style_blog_add.css" rel="stylesheet"/>
  </head>

  <body>
    <div class="pure-g-r">
      <div class="pure-u-1-5"></div>
      <div class="pure-u-3-5">
        <form method="post" class="post-form" action="/blog-add">
          <div class="content" id="content">
            <header>
              <input type="text"
                     class="post-title"
                     name="title"/>
              <p class="top-bar">
                <a href="/blog">
                  <i class="icon-comment"></i>Blog
                </a>
                <a href="#">
                  <i class="icon-twitter"></i>Twitter
                </a>
                <a href="#">
                  <i class="icon-github"></i>Github
                </a>
                <a href="#">
                  <i class="icon-linkedin"></i>LinkedIn
                </a>
                <a class="action">
                  <i class="action-icon"></i>
                </a>
              </p>
            </header>

            <article>
              <textarea name="full_text" class="post-text"></textarea>
              <input type="text"
                     name="url"
                     class="post-url"
                     placeholder="input url" />
              <input type="submit"
                     class="pure-button post-button pure-button-primary"
                     value="Add" />
            </article>
          </div>
        </form>
      </div>
      <div class="pure-u-1-5"></div>
    </div>

    <footer>
      &copy; 2013 alwx
    </footer>
  </body>
</html>
